@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-maroon-button {
    background-color: #991b1b;
    border-color: #991b1b;
    color: white;
  }
  
  .custom-maroon-button:hover {
    background-color: #7f1d1d !important;
    border-color: #7f1d1d !important;
  } 